@import url("https://fonts.googleapis.com/css2?family=Caudex:wght@400;700&family=Poppins:wght@300;400;500;600;700&family=Shrikhand&display=swap");

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background: #10140f;
  color: #f4eadb;
  font-family: "Poppins", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

main {
  width: 100%;
  overflow-x: hidden;
}
